<div>
    <h1>SKY UX Add-in Hello World</h1>
  
    <div>
      <p>Welcome to the SKY UX Add-in template.</p>
  
      <sky-alert alertType="info">
        You've just taken your first step into a larger world.
      </sky-alert>
    </div>
  
    <p>
      <a
        href="https://developer.blackbaud.com/skyapi/docs/addins"
        target="_blank"
        rel="noopener noreferrer"
        class="sky-btn sky-btn-primary"
      >
        Learn more about SKY Add-ins
      </a>
    </p>
  
    <label for="environmentId" class="sky-control-label">
      The environment ID is a context value that is available to all add-ins:
    </label>
    <div id="environmentId">{{ environmentId }}</div>
  
    <p></p>
    <label for="context" class="sky-control-label">
      Additional context values vary for each extension point. For the current extension point, the following context is provided:
    </label>
    <div id="context">{{ context }}</div>
  
    <p></p>
    <div>To request a user identity token for the current user, select the button.</div>
    <button type="button" class="sky-btn sky-btn-default" (click)="getUserIdentityToken()">Get user identity token</button>
  
    <div *ngIf="userIdentityToken">
      <p></p>
      <div>The following string represents the identity of the current user and can be provided to the add-in's backend for validation:</div>
      <span>{{ userIdentityToken }}</span>
    </div>
  </div>